.thingsInternet{
    .form-search{
        padding:10px 20px;
        background: #f1f6ff;
        border-radius: 5px;
        display: flex;
        flex-wrap:wrap;
        label{
            color: #999;
            font-size: 14px;
            width: 102px;
            text-align: right;
            display: inline-block;
        }
        li{
            flex:0 0 33%;
            height: 30px;
            margin: 15px 0;
        }
    }
}
.monitorData{
    .form-search{
        padding:10px 20px;
        background: #f1f6ff;
        border-radius: 5px;
        display: flex;
        flex-wrap:wrap;
        label{
            color: #999;
            font-size: 14px;
            width: 122px;
            text-align: right;
            display: inline-block;
        }
        li.item-time{
            flex:0 0 42%;
            height: 30px;
            margin: 15px 0;
        }
    }
}
.area-line{
    height:550px;
    &>div{
        height:100%;
    }
    .my-chart{
        height:100%;
    }
}