<div class="header">
    <div class="detail">
        <ul class="cf">
            <li class="fl"><a href="" class="active">资讯服务版</a></li>
            <li class="fl"><a href="../../../../../pe/front/dist/html/index/index.html" class="last-child">数据服务版</a></li>
        </ul>
    </div>
    <div class="line"></div>
    <div class="hd_box main-box">
        <img src="../../img/logo.png">
        <div class="search" id="search-hotWord">
            <input type="text" id="hotWord" value="请输入关键词">
            <span class="search-button"><i class="iconfont icon-sousuo"></i></span>
        </div>
	</div>


    <!-- 打开弹窗按钮
    <button id="myBtn">打开弹窗</button>-->

    <!-- 弹窗 -->
    <div id="myModal" class="modal">
        <!-- 弹窗内容 -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <p style="color: #000;">请输入要查询的关键词</p>
        </div>
    </div>
</div>