<div class="menu">
    <div class="main-box">
        <ul id="menuList">
            <!-- <li><a href="../index/index.html">首页</a></li>
            <li><a href="../hotnews/hotnews_index.html">热点</a></li>
            <li><a href="../service/service_index.html">服务</a></li>
            <li><a href="../market/market_index.html">市场</a></li>
            <li><a href="../interaction/interaction_index.html">互动</a></li>
            <li><a href="#">溯源</a></li> -->
        </ul>
    </div>
</div>